*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
} 
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.for_container {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 30px;
    
}

form input, form button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 12px;
    border-color: #c4c4c4;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

form button:hover {
    background-color: #0056b3;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
   .box  {
        width: 400px;
        height: 200px;
    }
}
h3 {
    text-align: center;
    font-size: 30px;
}

.box {
    padding: 50px;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 12px;
} 
.line{
border-radius: 12px;
padding: 5px;
margin-top: 10px;
display: flex;
justify-content: space-between;
height: 40px;
width: 100%;
background-color:  #dee2e6f5;
}
form{
    margin-top: 50px;
}
.box-age{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 400px;
}